{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "object-curly-newline": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION__",
          "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./"
        ]
      }
    }
  }
}