.area-form {
    max-width: 600px;
    margin: 30px auto 0;
}
.game_info {
    > .tag + .tag {
        margin-top: 5px;
    }
}
.thumbnail-wrap {
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 30px auto 50px;
    input[type="file"] {
        position: absolute;
        left: -9999px;
    }
    label {
        display: block;
        cursor: pointer;
    }
}